.myheading{
    margin-left: 225px;
    font-size: 15px;
}
   

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}

  .bodyimg{
    position: relative;
}

.bodyimg p{
    color:#f7f2f2;
    font-size: 50px;
    font-family: fantasy;
    width: 1400px;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}

.bodyimg h3{
    color:#f7f2f2;
    font-family: fantasy;
    font-size: 20px;
    width: 1200px;
    position: absolute;
    top:40%;
    left:35%;
    transform: translate(-32%, -32%);
}

a:link{
    color: #ff00b3;
}

a:visited{
    color: #ffa0a0;
}

body{
    background-color: #f5f5f5;
}

.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: sans-serif;
    break-after: always;
    padding:1px;
    margin:75px;
}

.grid img{
    border: 2px solid #000000;
    margin-top:25px;
    border-radius: 50px;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.origami {
    border-radius: 20px;
    margin-bottom:50px;
    background-color: #effcfc;
    justify-content: space-between;
    width:400px;
    font-family: fantasy;
}
